body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

/* .fullbackground {
  width: 100%;
  height: 100%;
  background-color: rgb(149, 255, 149); 

} */

/*I need this because my divs gets lost sometimes*/
.bordersForDummies {
  border: 1px solid red;
}

/* 
.stage {
  height: 200px;
  width: 200px;
} */


.stage {
  animation: animateBg 40s linear infinite;
  background-image: linear-gradient(24deg,#627df3,#a295f5,#64b3d9,#2ec586,#64b3d9,#208ea2,#64b3d9, #498ada, #64b3d9,#627df3,#a295f5);

  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}

.stage2 {
  animation: animateBg2 60s linear infinite;
  background-image: linear-gradient(1deg,#627df33d,#42eca560,#a295f54b,#64b4d96b,#64b4d94d,#208ea24f,#64b4d957, #498ada60, #64b4d93a,#a295f552);
  background-size: 100% 1100%;

  height: 100vh;
  width: 100vw;
}


.stageold{
  animation: animateBg 10s linear infinite;
  background-image: linear-gradient(24deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a, #cf5c5c);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}

.fullscreen{
  width: 100%;
  height: 100%;
}

.introBlockContainer{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.introBlock{
  /* height: 400px; */
  width: 600px;
  margin: 0px;
  padding: 8px;
  padding-bottom: 28px;
  border: 1px solid #96c5ff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.979);
}

.introDivOne{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  padding-bottom: 18px;
}

.introDivOneTextCont{
  max-width: 300px;
    /* border: 1px solid red; */
}

.introBlockButtons{
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
}

.addOrRemoveBtns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.pseudobuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 56px;
  padding: 0px 18px;
  background-color: #96c5ff;

  border-radius: 5px 20px 10px;

  transition: 0.5s;
}

.pseudobuttons2{

  border-radius:10px;
}

.pseudoNOCLICKbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 56px;
  padding: 0px 18px;
  background-color: #8a8a8a;
  border-radius:10px;
}

.pseudobuttonsWide{
  min-width: 330px;
  /* width: 268px */
}

.pseudobuttonsWide2{
  min-width: 276px;
  /* width: 268px */
}

.pseudobuttons:hover {
  background-color: #103f79;
  color: white;
  cursor: pointer
}


.aboutmeBlock{
  /* height: 400px; */
  width: 600px;
  margin: 0px;
  padding: 8px;
  padding-bottom: 28px;
  border: 1px solid #96c5ff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.979);
}

.aboutmeDivOne{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  padding-bottom: 18px;
}

.aboutmeDivOneTextCont{
  max-width: 300px;

    /* border: 1px solid red; */
}

.listTextCont{
  max-width: 200px;
  min-width: 200px;
      /* border: 1px solid red; */
}

/* this wasn't used */
.aboutmeimage1{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* this wasn't used */
.aboutmeimage2{
  width: 150px;
  height: 200px;
  object-fit: fill ;
}

/* for centering images vertically */
.imageWarper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.careerImage{
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.meimage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.gotoPartB{
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}


@keyframes animateBg2 {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }

}
